<section class="shop_section">
    <div class="container">
        <div class="shop_inner">
            <div class="shop" *ngFor="let product of products">
                <div class="shop_top">
                    <span class="shop_top-span" *ngIf="product.discount">-{{product.discount}}%</span>
                    <button *ngIf="product.isFavorite" class="shop_top-like-btn" (click)="setFavorite(product.id)">
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="red" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 1C3.239 1 1 3.216 1 5.95C1 8.157 1.875 13.395 10.488 18.69C10.6423 18.7839 10.8194 18.8335 11 18.8335C11.1806 18.8335 11.3577 18.7839 11.512 18.69C20.125 13.395 21 8.157 21 5.95C21 3.216 18.761 1 16 1C13.239 1 11 4 11 4C11 4 8.761 1 6 1Z"
                                stroke="red" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button *ngIf="!product.isFavorite" class="shop_top-like-btn" (click)="setFavorite(product.id)">
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 1C3.239 1 1 3.216 1 5.95C1 8.157 1.875 13.395 10.488 18.69C10.6423 18.7839 10.8194 18.8335 11 18.8335C11.1806 18.8335 11.3577 18.7839 11.512 18.69C20.125 13.395 21 8.157 21 5.95C21 3.216 18.761 1 16 1C13.239 1 11 4 11 4C11 4 8.761 1 6 1Z"
                                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="shop_top-btn" (click)="viewModal(product)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.257 10.962C21.731 11.582 21.731 12.419 21.257 13.038C19.764 14.987 16.182 19 12 19C7.81801 19 4.23601 14.987 2.74301 13.038C2.51239 12.7411 2.38721 12.3759 2.38721 12C2.38721 11.6241 2.51239 11.2589 2.74301 10.962C4.23601 9.013 7.81801 5 12 5C16.182 5 19.764 9.013 21.257 10.962V10.962Z"
                                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div (click)="addToCart(product.id)"  class="add-to-card" (click)="setCard(product.id)" [class.addedCard]="product.isAddToCard">Add To Cart</div>
                    <img class="shop_top-image" [src]="product.imgLink" alt="">
                    <span class="OurProducts-bottom-below_span" *ngIf="product.isNew">NEW</span>
                </div>
                <div class="shop_bottom">
                    <a [routerLink]="['/product', product.id]" class="shop_bottom-title">{{product.name}}</a>
                    <div class="shop_prices">
                        <div class="shop_bottom-pricenew">${{product.currentPrice}}</div>
                        <div class="shop_bottom-priceold" *ngIf="product.originalPrice">${{product.originalPrice}}</div>
                    </div>
                    <div class="shop_bottom-estimation">
                        <img [src]="rating" alt="" *ngFor="let rating of product.ratings">
                        <span class="shop_bottom-span">({{product.ratingNumber}})</span>
                    </div>
                    <div class="card">
                        <input type="radio" class="card_color" [name]="product.id" checked *ngFor="let color of product.colors" [ngStyle]="{'backgroundColor': color}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
