.Wishlist {
    margin-top: 80px;
}

.Wishlist-top {
    margin-bottom: 80px;
}

.Wishlist-header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.Wishlist_title {

    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.Wishlist_btn {
    margin-left: auto;
    padding: 16px 48px;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    font-weight:  500px;
    font-size: 16px;
    line-height: 24px;
}

.Wishlist_image {
    padding: 41px 46px;
}

.all-to-card {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    width: 270px;
    height: 41px;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

.Wishlist_bottom {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 60px;
}

.Wishlist_inner {
    display: flex;
    gap: 30px;  
    margin-bottom: 60px;
}

.Wishlist_title {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.Wishlist_button {
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    padding: 16px 48px;
}

.Wishlist_button a {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.OurProducts-bottom-below {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.OurProducts-bottom-below-icon {
    background-color: #FAFAFA;
    position: relative;
    width: 270px;
    height: 250px;
    margin-bottom: 16px;
}

.OurProducts-bottom-below-inner:hover {
    cursor: pointer;
}

.OurProducts-bottom-below-icon:hover .add-to-card {
    display: block;
}

.OurProducts-bottom-below_span {
    position: absolute;
    background-color: #00FF66;
    top: 12px;
    left: 12px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 12px;
    border-radius: 4px;
}

.OurProducts-bottom-below-likebtn {
    position: absolute;
    background-color: #ffffff;
    top: 12px;
    right: 12px;
    border: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OurProducts-bottom-below-btn {
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    right: 12px;
    border: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OurProducts-bottom-below-image {
    padding: 35px 40px;
}

.OurProducts-bottom-below-text {
    margin-bottom: 8px;
}

.OurProducts-bottom-below-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.shop:hover {
    cursor: pointer;
}

.shop_top {
    background-color: #F5F5F5;
    position: relative;
    width: 269px;
    height: 250px;
    margin-bottom: 16px;
}

.shop_top-span {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 4px 12px;
    background-color: #DB4444;
    border-radius: 4px;
    color: #ffffff;
}

.shop_top-btn {
    position: absolute;
    background-color: #ffffff;
    top: 12px;
    right: 12px;
    border: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_top-like-btn {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    border: 0;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.shop_top-image {
    padding: 49px 49px;
}

.shop_bottom-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.shop_prices {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.shop_bottom-pricenew {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
}

.shop_bottom-priceold {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
    color: #7f7f7f;
}

.shop_bottom-span {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 400;
    line-height: 21px;
    color: #7f7f7f;
}