.login {
    margin-top: 60px;
    border: none;
}

.login_info {
    display: flex;
    gap: 129px;
}

.login_right {
    margin-top: 186px;
}

.login_title {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 24px;
    color: #000000;
}

.login_text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    color: #000000;
}

.login_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.Password_input {
    border-bottom: 1px solid #7f7f7f;
    margin-bottom: 32px;
    padding-bottom: 8px;
}

.login_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
}

.login_account {
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

.login_link {
    border: none;
    color: #DB4444;
}