.CheckOut {
    margin-top: 80px;
}

.breadcrumb {
    margin-bottom: 89px;
}

.breadcrumb_list {
    display: flex;
}

.breadcrumb_link {
    color: #7f7f7f;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.breadcrumb_link:hover {
    color: #000000;
}

.breadcrumb_line {
    margin-left: 12px;
    margin-right: 12px;
    color: #7f7f7f;
}

.CheckOut_bottom {
    display: flex;
}

.biling {
    display: flex;
    flex-direction: column;
}

.biling_title{
    font-family: Inter,sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 48px;
}

.biling_form{
    display: flex;
    flex-direction: column;
}

.biling_label {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.biling_input {
    background-color: #F5F5F5;
    width: 470px;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-bottom: 32px;
}

.biling_checkbox {
    display: flex;
    gap: 16px;
    align-items: center;
}

.checkbox_text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.biling_form input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 4px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.biling_form input[type="checkbox"]:checked {
    background-color: #DB4444;
}

.biling_form input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 3px;
    width: 12px;
    height: 20px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.summary {
    padding-top: 106px;
    margin-left: auto;
}

.summary_info {
    width: 425px;
    margin-bottom: 32px;
}

.summary_product-info {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.summary_price {
    margin-left: auto;
}

.summary_subtotal {
    margin-bottom: 16px ;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summarys_subtotal {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.summary_subtotal_price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.cart_page-text {
    margin-left: 24px;
}

.bank {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.any_bank{
    display: flex;
    justify-content: space-between;   
    margin-bottom: 32px;
}

.bank_icon {
    display: flex;
    gap: 16px;
}

.product_coloc{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
}

.product_coloc::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0;
}

.product_coloc:checked {
    width: 12px;
    height: 12px;
    margin: 4px;
    background-color: #000000;
}

.product_coloc:checked::before {
    opacity: 1;
}

.c1 {
    background-color: #ffffff;
}

.c2 {
    background-color: #ffffff;
}

.bank_text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.paycard {
    margin-left: auto;
    gap: 8px;
    display: flex;
}

.CheckOut_buttons{
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.CheckOut_Couponcode {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    width: 300px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: transparent;
}

.CheckOut_Applicoupon {
    background-color: #DB4444;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    display: flex;
    padding: 16px 48px;
    border: none;
}

.CheckOut_Placeorder {
    background-color: #DB4444;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    display: flex;
    padding: 16px 48px ;
    border: none;
}

.cart_page-img {
    width: 54px;
    height: 54px;
}