<section class="registration">
    <div class="container">
        <div class="registration_top">
            <ul class="breadcrumb_list">
                <li class="bradcrumb_item">
                    <a class="breadcrumb_link" href="#">Account</a>
                </li>
                <span class="breadcrumb_line">/</span>
                <li class="bradcrumb_item">
                    <a class="breadcrumb_link" href="#">Gaming</a>
                </li>
                <span class="breadcrumb_line">/</span>
                <li class="bradcrumb_item">
                    <a class="active_title" href="#">{{product.name}}</a>
                </li>
            </ul>
        </div>
        <div class="product">
            <div class="product_images">
                <div class="product_images-mini">
                    <ul>
                        <li>
                            <img class="product_img" [src]="product.imgLink" alt="">
                        </li>
                        <li>
                            <img class="product_img" [src]="product.imgLink" alt="">
                        </li>
                        <li>
                            <img class="product_img" [src]="product.imgLink" alt="">
                        </li>
                        <li>
                            <img class="product_img" [src]="product.imgLink" alt="">
                        </li>
                    </ul>
                </div>
                <div class="product_images-main">
                    <img [src]="product.imgLink" alt="">
                </div>
            </div>
        </div>
    </div>
</section>